# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Local backup files
BAK.*

.*
!.gitignore

## use may touch a X.anyfilename
X.*

## Mac OS debug info
*.dSYM
