CC = gcc
CXX = g++
CFLAGS := -Wall $(CFLAGS)

ifdef APP_TARGET
TARGET = $(APP_TARGET)
endif
ifdef LIB_TARGET
TARGET = $(LIB_TARGET)
endif

OBJS = $(SRCS:.cpp=.o)
DEPS = $(SRCS:%.cpp=.%.d)

all: $(TARGET)

ifdef APP_TARGET
$(TARGET): $(OBJS)
	$(CXX) -o $@ $^ $(LDFLAGS)
endif
ifdef LIB_TARGET
$(TARGET): $(OBJS)
	$(ar) rsv $@ $^
endif

.cpp.o:
	$(CXX) $(CFLAGS) -MMD -MF $(@:%.o=.%.d) -c -o $@ $<

clean:
	$(RM) $(TARGET) $(OBJS) $(DEPS)

-include $(DEPS)

# vim:ft=make
